@font-face {
    font-family: montserrat-regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

*{
    font-family: montserrat-regular;
}
body{
    padding: 0;
    margin: 0;
}

#nav-toggle{
    position: fixed;
    right: 33px;
    top: 47px;
    scale: 2.3;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
#menu{
    height: 35px;
    position: fixed;
    right: 25px;
    top: 40px;
    z-index: 2;

}

.top-nav{
    background-color: hsla(360, 100%, 84%, 1);
    /* background-color: white; */
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    flex-wrap: wrap;
    transform: translateY(-600px);
    transition: 300ms ease-in-out;
}
#nav-toggle:checked + .top-nav{
    transform: translateY(0);
}



.top-nav svg{
    margin-top: 10px;
    height: 100px;
}
.top-nav img{
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
.top-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    

}
.top-nav ul li{
    margin:20px;
    padding: 12px;
    /* border: solid black 1px; */
    border-radius: 50px;
    /* background-color: hsla(360, 15%, 84%, 1); */
    
}
.top-nav ul li a{
    white-space: nowrap;
    font-size: 1.2rem;
}
.top-nav ul li a:hover{
    color: gray;
}
.top-nav ul li a:link, nav ul li a:visited{
    text-decoration: none;
    color: black;
    white-space: normal;
}

.announcement h1{
    text-align: center;
    
}
.welcome{
    height: 500px;
    background-image: url(img/harold.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.welcome  h1{
    font-size: 2.5rem;
    color: white;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
}
.welcome p{
    font-size: 2rem;
    color: white;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
}
.welcome > img{
    height: 150px;
}
.background-container{
    background-image: url(/img/dogonback0.5opacity.png);
    background-repeat: no-repeat;
    background-size: cover;   
}
.kommende{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    
}

.kommende span{
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px; 
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    
}
.kommende span h1{
    font-size: 1.7rem;
}
.kommende span p{
    font-size: 1.2rem;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
.about{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.about h1{
    font-size: 1.7rem;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.about div{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.about img{
    
    /* min-width: 10vw; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    margin-bottom: 40px;
    object-fit: cover;
    max-width: 40vw;
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
}
.about p{
    margin: 20px;
    font-size: 1.2rem;
    /* width: 40vw; */
}
footer{
    background-color: white;
    padding-top: 50px;
    /* padding-left: 200px; */
    
}
footer h1{
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
}
footer ul{
    display: flex;
    justify-content: space-evenly;
}
footer ul li{
    margin: 20px;
    margin-bottom: 40px;
    font-size: 1.2rem;
    list-style-type: none;
}

@media screen and (max-width:720px) {
    .welcome span h1{
        font-size: 1.5rem;
    }
    .welcome span p{
        font-size: 1.2rem;
    }
    .about{
        padding: 0;
    }
    .about div{
        flex-direction: column
    }
    footer ul{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width:470px) {
    .about img{
        display: none;
    }
    
}