@font-face {
    font-family: montserrat-regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

*{
    font-family: montserrat-regular;
}
body{
    padding: 0;
    margin: 0;
}
.top-nav{
    background-color: hsla(360, 100%, 84%, 1);
    min-height: 40px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    flex-wrap: wrap;
}
.top-nav img{
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
.top-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    

}
.top-nav ul li{
    margin:20px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 50px;
    
}
.top-nav ul li a{
    white-space: nowrap;
}
.top-nav ul li a:link, nav ul li a:visited{
    text-decoration: none;
    color: black;
    white-space: normal;
}
main{
    margin-top: 140px;
}
main .announcement h1{
    text-align: center;
    
}
main .welcome{
    height: 500px;
    background-image: url(img/harold.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main .welcome  h1{
    font-size: 2.5rem;
    color: white;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
}
main .welcome p{
    font-size: 2rem;
    color: white;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
}
main .welcome > img{
    height: 150px;
}
.background-container{
    background-image: url(/img/dogonback0.5opacity.png);
    background-repeat: no-repeat;
    background-size: cover;   
}
.kommende{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.kommende span{
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px; 
    clip-path: polygon(100% 0, 100% 85%, 51% 100%, 0 85%, 0 0);
}
.kommende span h1{
    font-size: 1.7rem;
}
.kommende span p{
    font-size: 1.2rem;
    padding-bottom: 50px;
}
.about{
    margin-top: 50px;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.about h1{
    font-size: 1.7rem;
    margin-top: 50px;

}
.about div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about img{
    max-width: 40vw;
    /* min-width: 10vw; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}
.about p{
    margin: 20px;
    font-size: 1.2rem;
    width: 40vw;
}
