@font-face {
    font-family: montserrat-regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

*{
    font-family: montserrat-regular;
}
body{
    padding: 0;
    margin: 0;
}

#nav-toggle{
    position: fixed;
    right: 33px;
    top: 47px;
    scale: 2.3;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
#menu{
    height: 35px;
    position: fixed;
    right: 25px;
    top: 40px;
    z-index: 2;

}

.top-nav{
    background-color: hsla(360, 100%, 84%, 1);
    /* background-color: white; */
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    flex-wrap: wrap;
    transform: translateY(-600px);
    transition: 300ms ease-in-out;
}
#nav-toggle:checked + .top-nav{
    transform: translateY(0);
}



.top-nav svg{
    margin-top: 10px;
    height: 100px;
}
.top-nav img{
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
.top-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    

}
.top-nav ul li{
    margin:20px;
    padding: 12px;
    /* border: solid black 1px; */
    border-radius: 50px;
    /* background-color: hsla(360, 15%, 84%, 1); */
    
}
.top-nav ul li a{
    white-space: nowrap;
    font-size: 1.2rem;
}

.top-nav ul li a:link, nav ul li a:visited{
    text-decoration: none;
    color: black;
    white-space: normal;
}
.top-nav ul li a:hover{
    color: gray;
}
.announcement{
    background-color: hsla(360, 100%, 84%, 1);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,1);
    padding-left: 10px;
    padding-right: 10px;
    /* margin-bottom: 20px; */
    /* display: none; */
}
.announcement div{
    height: 100%;
}
.announcement div h1{
    font-weight: lighter;
}
.welcome{
    height: 500px;
    background-image: url(img/dog.png);
    background-position: center 15%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.welcome  h1{
    font-size: 2.5rem;
    color: white;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
}
.welcome p{
    font-size: 2rem;
    color: white;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.6);
}
.welcome > img{
    height: 150px;
}
.background-container{
    background-image: url(/img/dogonback0.5opacity.png);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center right;
}
.kommende{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    
}

.kommende span{
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px; 
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    
}
.kommende span h1{
    font-size: 1.7rem;
}
.kommende span p{
    font-size: 1.2rem;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
.about{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.about h1{
    font-size: 1.7rem;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.about div{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.about img{
    
    /* min-width: 10vw; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    margin-bottom: 40px;
    object-fit: cover;
    max-width: 40vw;
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
}
.about p{
    margin: 20px;
    font-size: 1.2rem;
    /* width: 40vw; */
}
.opdræt{
    background-image: url(img/AstaPuppy.png);
    background-repeat: no-repeat;
    background-position: center 70%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opdræt div{
    background-color: hsla(0, 0%, 100%, 0.70);
    /* background-color: white; */
    width: 300px;
    border: solid hsla(0, 0%, 35%, 0.30) 2px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    border-radius: 25px;
    
}
.opdræt div h1{
    margin: 0;
    font-size: 1.7rem;
}
.opdræt div p{
    /* font-size: 1.2rem; */
    font-size: 1rem;
}

/* Om racen.html region */
.omracen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr auto; */
}
.omracen h1{
    text-align: center;
    grid-column: 1/-1;
    /* border-bottom: solid lightgray 1px; */
    margin: 0px;
    padding: 30px;
}
.omracen div{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 0;
    /* padding-left: 20px; */
    display: flex;
    justify-content: center;
    /* padding: 0px; */
    
}
.omracen div h1{
    font-size: 1.7rem;
    margin-top: 50px;
    
}
.omracen div p{
    font-size: 1.2rem;
    width: 45vw;
}
.omracen img{
    width: 100%;
    /* margin-left: 20px; */
    object-fit: cover;
    max-height: 500px;
    /* border: 1px solid black; */
    /* box-shadow: 0px 0px 6px -1px rgba(0,0,0,1); */
    /* margin-top: 100px; */

}
footer{
    background-color: white;
    background-color: hsla(360, 100%, 84%, 1);
    
    padding-top: 50px;
    /* padding-left: 200px; */
    
}
footer h1{
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
footer ul li{
    margin: 20px;
    margin-bottom: 50px;
    font-size: 1.2rem;
    list-style-type: none;
}
@media screen and (max-width:1100px) {
    .opdræt{
        background-position: 70% 80%;
    }
    .opdræt div p{
        font-size: 1rem
    }
}
@media screen and (max-width:720px) {
    .top-nav ul{
        padding-left: 0;
    }
    .announcement h1{
        font-size: 1.5rem;
        
    }
    .welcome span h1{
        font-size: 1.5rem;
    }
    .welcome span p{
        font-size: 1.2rem;
    }
    .background-container{
        background-position: center right 20%;
    }
    .kommende span h1{
        font-size: 1.5rem;

    }
    .kommende span p{
        font-size: 1rem;
    }
    .about{
        padding: 0;
    }
    .about div{
        flex-direction: column
    }
    /* .omracen div{
        padding: 0px;
    } */
    .opdræt{
        padding: 0;
        align-items: center;
        justify-content: center;
        background-position: 70% 60%;
    }
    .opdræt div{
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
        background-color: hsla(0, 0%, 100%, 0.40)
        
    }
    .opdræt div h1{
        font-size: 1.5rem;
    }
    .opdræt div p{
        font-size: 1rem;
    }
    .omracen{
        display: flex;
        flex-direction: column;
    }
    
    .omracen img:nth-of-type(1){
        width: 100%;
        margin-bottom: 20px;
    }
    .omracen img:nth-of-type(2){
        display: none;
    }
    .omracen div p{
        margin: 0px;
        padding: 0px;
        width: 90%;
    }
    footer ul{
        display: flex;
        flex-direction: column;
    }
    footer ul li{
        font-size: 1rem;
    }

}
@media screen and (max-width:470px) {
    .about img{
        display: none;
    }
    .omracen h1{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .omracen div:nth-of-type(2) p{
        margin-bottom: 20px;
    }
    
}